.about{
    background-color: black;
    color: white;
    font-size: 350px;
    text-align: center;
}
*{
    padding: 0;
    margin: 0;
}

.about.light{
    background-color: white;
    color: black;
    font-size: 350px;
    text-align: center;
}

.about.dark{
    background-color:black;
    color: white;
}


.landing_wrapper{
    background-color: black;
    color: white;
    font-size: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.landing_wrapper.light{
    color: black;
    background-color: white;
}

.landing_wrapper.dark{
    background-color: black;
    color: white;
}



button{
    font-size: 100px;
}
.right-btn.light button{
    min-width: 500px;
    max-width: 500px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 150px;
    cursor: pointer;
}

.right-btn.dark button{
    min-width: 500px;
    max-width: 500px;
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: 150px;
    cursor: pointer;
}